.notas-form{
    width: 100%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 2.3rem;
    background-color: rgba(225, 225,225, 0.7);
}
.form-notas-card{
    border: 1px solid black;
    border-radius: 0.7rem;
    margin: 1rem;
    padding: 0.4rem;
    width: 20%;
    display: inline-block;

}
.form-notas-card header h3{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}
.conteudo-form{
    width: 98%;
    padding: 0.2rem;
    text-align: center;

}
.formulario-de-notas{
    width: 100%;

}
.titulo-trimestre{
    width: 80%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0.7rem;

}
.input-nota{
    border: 1px solid black;
    width: 60%;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.3rem;
    font-weight: 300;

}
.fundoDoBotao{
    background-color: rgba(225, 225,225, 0.9);

}
.botao-calcular{
    text-align: center;
    margin: 5% 35% 10% 30% ;
    width: 30% ;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: orangered;
    padding: 0.4rem;
    transition: 4s;
}
.botao-calcular button{
    width: 99%;
    box-shadow: 2.5px 2.5px 1px black;
    background-color: orangered;
    font-size: 1.4rem;
    padding: 0.3rem;
    transition: 2s;
}
.botao-calcular :hover{
    cursor: pointer;
    background-color: orange;
}
.botao-calcular:hover{
    cursor: pointer;
    background-color: orange;
}
.titulo2{
    text-align: center;
    padding: 0.5rem;
    font-size: 2.3rem;
    margin: 0.7rem;


}
@media only screen and (max-device-width: 880px) {
    .form-notas-card{
        width: 100%;
        display: block;
      
    }
    .botao-calcular{
        width: 80%;
        margin:15%;
    }
    .botao-calcular button{
        width: 100%;
        
    }

}