.menuAndTabelaresults{
    display: inline-block;
    margin: 1rem;
}

.configuracoes{
    display: inline-block;
    border: 1px solid black;
    box-shadow: 6.9px 8.8px 6.6px black;    
    margin: 0.7rem;
    padding: 0.43rem;
}

.itemconf{
    padding: 0.4rem;
    border: 1px solid black;
    width: 93%;
    margin: 0.4rem;
}
.pergunta{
    text-align: center;
    font-size: 1.2rem;
    margin: 0.4rem;
}

.selecionar{
    width: 95%;
    font-size: 1.1rem;
    padding: 0.2rem;
}
.media{
    text-align: center;
    font-size: 1.1rem;
    padding: 0.2rem;



}
.botaoconfigurar{
    width: 60%;
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 5%;
    margin-bottom: 3%;

}
.botaoconfigurar button{
    width: 95%;
    padding: 0.5rem;
    background-color: orangered;
    border-radius: 0.7rem;
    box-shadow: 2.7px 2.6px 1.3px black;
}



@media only screen and (max-device-width: 880px){
    .configuracoes{
        width: 94%;
    }
}